@use "../../styles/global.scss" as *;

.sidebar {
  height: 100%;
}

.categoryButton {
  box-shadow: none;
  border: 1px solid $bg-light;

  &:hover {
    transform: translateX(4px);
  }
}

.text {
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
