@use "../../styles/global.scss" as *;

.itemsGridWrapper {
  user-select: none;
  position: relative;
  height: 75vh;
  width: 100%;
  padding: 30px;
  z-index: 1;
  overflow-y: scroll;
  border-radius: 10px;

  // Поверх фона будет контент
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../../../public/assets/bg-shields.jpg") center center /
      cover no-repeat;
    opacity: 0.01; // здесь регулируешь прозрачность
    z-index: -1;
    pointer-events: none;
  }
}
.itemImg {
  cursor: pointer;
  object-fit: "cover";
  padding: 5px;
  border-radius: 4px;

  &:hover {
    background: rgba(white, 0.3);
    opacity: 1;
  }
}

.itemImgCollected {
  cursor: pointer;
  object-fit: "cover";
  padding: 5px;
  border-radius: 18px;
  background: rgba($text-highlighted, 0.2);
  border: 1px solid $text-primary;

  &:hover {
    background: rgba(white, 0.3);
    opacity: 1;
  }
}
