@use "../../styles/global.scss" as *;

.itemsGridWrapper {
  user-select: none;
  position: relative;
  height: 75vh;
  width: 100%;
  z-index: 1;
  overflow-y: scroll;
  border-radius: 10px;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../../../public/assets/bg-shields.jpg") center center /
      cover no-repeat;
    opacity: 0.01;
    z-index: -1;
    pointer-events: none;
  }
}

.itemImg {
  cursor: pointer;
  object-fit: cover;
  padding: 2px;
  border-radius: 18px;

  &:hover {
    background: linear-gradient(330deg, $bg-light, rgba($text-primary, 0.2));
    opacity: 1;
  }
}

.itemImgCollected {
  cursor: pointer;
  object-fit: cover;
  padding: 10px;
  border-radius: 18px;
  background: linear-gradient(330deg, $bg-light, rgba($text-highlighted, 0.2));
  border: 1px solid $text-primary;

  &:hover {
    background: linear-gradient(330deg, $bg-light, rgba($text-primary, 0.2));
    opacity: 1;
  }
}

.blockSpoiler {
  color: transparent;
  text-shadow: 0 0 8px $link-color;
  transition: color 0.4s ease, text-shadow 0.2s ease;
  filter: blur(10px);
  cursor: pointer;

  &:hover {
    color: inherit;
    text-shadow: none;
    filter: none;
  }
}
.popoverLink {
  font-size: 30px;
  color: $text-primary !important;
  font-family: "Cormorant Garamond";
  transition: color 0.3s;

  &:hover {
    color: $link-color;
    text-decoration: underline;
  }
}

.popoverImageWrapper {
  position: relative;
  width: 500px;
  height: 500px;
  cursor: pointer;

  &:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    z-index: 2;
  }

  .popoverImage {
    position: relative;
    z-index: 1;
    border-radius: 10px;
  }
}

.popoverTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}
