@use "../../../styles/global.scss" as *;

.footer {
  color: $text-primary;
  background: $bg-light;
  font-size: 15px;
  height: 20px;
  line-height: 2px;
  border-left: 1px solid $bg-dark;
  border-right: 1px solid $bg-dark;
  border-top: 1px solid $bg-dark;
  display: flex;
  align-items: center;
  justify-content: center;
}
