@use "../../../styles/global.scss" as *;

.content {
  user-select: none;
  flex-grow: 1;
  padding: 20px;
  background: $bg-dark;
  position: relative;
  height: 75vh;
  z-index: 1;
  overflow-y: auto;

  /*   &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../../../public/assets/bg-shields.jpg") center center /
      cover no-repeat;
    opacity: 0.01;
    z-index: -1;
    pointer-events: none;
  } */
}

.menu {
  background: transparent;
}
