@use "../../../styles/global.scss" as *;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.header {
  background: $bg-light;
  padding: 0 20px;
  position: sticky;
  border: 1px solid $bg-dark;
}

.title {
  font-weight: bold;
  display: flex;
  font-family: Cinzel, serif;
  flex: 1;
  justify-content: flex-start;
}

.searchWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}

.icons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 20px;
}

.icon {
  font-size: 20px;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
