@use "../../../styles/global.scss" as *;

.card {
  :global {
    .ant-progress-text {
      font-family: "IM Fell English SC", serif;
      color: $text-highlighted !important;
    }
  }

  height: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-family: "Cinzel", serif;
  }
}
