@use "../../../styles/global.scss" as *;

.card {
  :global {
    .ant-progress-text {
      font-family: "IM Fell English SC", serif;
      color: $text-primary !important;
      font-size: 30px;
    }
  }

  height: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  padding: 20px;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-family: "Cinzel", serif;
  }
}
