@use "../../../styles/global.scss" as *;

.card {
  :global {
    .ant-progress-text {
      font-family: "IM Fell English SC", serif;
      color: $text-primary !important;
      font-size: 30px;
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($bg-dark, 0.9);
  border: 10px solid rgba($bg-light, 0.2);
  border-radius: 10px;
  margin: 10px 10px;
  padding: 24px;
  backdrop-filter: blur(10px);

  .title {
    font-size: 50px;
    font-family: "Cinzel", serif;
  }
}
