@use "../../../styles/global.scss" as *;

// ===== Links & Interactions =====

.link {
  color: $text-primary;
  &:hover {
    color: $link-color-hover;
  }
}

.legendary {
  color: $text-highlighted !important;

  &:hover {
    font-style: italic;
    text-decoration: underline;
  }
}

.linkVendor {
  color: $link-color;
  font-family: "IM Fell English SC";
  font-size: 22px;
  &:hover {
    color: $link-color-hover;
  }
}

.linkEnemy {
  color: $link-color;
  font-family: "IM Fell English SC";
  font-size: 20px;

  &:hover {
    color: $link-color-hover;
  }
}

.preview {
  position: relative;
  padding: 50px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background: url("../../../assets/fx.png") center/cover no-repeat;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../../../assets/bg-ashesOfWar.jpg") center/cover no-repeat;
    opacity: 0.09;
    z-index: -1;
  }
}

.placeholder {
  padding: 50px;
  width: 100%;
  height: 600px;
}

.table {
  width: 60%;
  height: 800px;
  overflow-y: scroll;
}

.dropInfo {
  position: absolute;
  top: 30px;
  right: 30px;
}

.title {
  color: $text-highlighted;
  font-family: "IM Fell English SC";
  font-size: 50px !important;
  text-align: center;
}

.subtitle {
  color: $text-highlighted;
  font-family: "IM Fell English SC";
  font-size: 20px;
}

.text {
  font-size: 17px;
}

.spin {
  text-align: center;
  margin-top: 30%;
}
