$text-primary: #aa7714;
$text-highlighted: #e8b339;
$success-green: #112123;
$bg-dark: #141414;
$bg-light: #1f1f1f;

@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap");

* {
  color: $text-primary;
  font-family: "Cinzel";
}

//Подсветка собранных предметов
.row-collected {
  background-color: $success-green;
}

//сброс цвета сортированного столбца
.ant-table-column-sort {
  background: transparent !important;
}

.ant-table-column-sort:hover {
  background: $bg-light !important;
}

//Обои
.container {
  background: url("../assets/bg-1.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
}

//Обои категории
.category_wallpaper {
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}
.shields_wallpaper {
  background: url("../assets/bg-shields.png") center/cover no-repeat;
}
.ashes_wallpaper {
  background: url("../assets/bg-ashes.jpg") center/cover no-repeat;
}
.talismans_wallpaper {
  background: url("../assets/bg-talismans.jpg") center/cover no-repeat;
}
.ashesOfWar_wallpaper {
  background: url("../assets/bg-ashesOfWar.jpg") center/cover no-repeat;
}
.sorceries_wallpaper {
  background: url("../assets/bg-sorceries.jpeg") center/cover no-repeat;
}

//чекбоксы

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $text-primary;
  border-color: $text-primary;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: $bg-dark;
}

//Рабочая зона
.layout {
  max-width: 1400px;
  height: 100vh;
}

.ant-collapse-expand-icon {
  padding-top: 20px;
}

.collapse_wpapper {
  width: 100%;
}

//Scrollbar
* {
  scrollbar-width: thin;
  scrollbar-color: $bg-light $bg-dark;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: $bg-dark;
}
*::-webkit-scrollbar-thumb {
  background-color: $bg-light;
  border-radius: 4px;
  border: 2px solid $bg-dark;
}
*::-webkit-scrollbar-thumb :hover {
  background-color: $bg-light;
}
