$gold: #a5a083;
$gold-dark: #8b7c3b;
$bg-dark: #1c1c1c;
$text-light: #f4f1de;
$header-bg: #1a1a1a;
$title: #d4af37;

$color-bg: #1a1a1a;
$color-bg-secondary: #2b2b2b;
$color-gold: #8b7c3b;
$color-gold-bright: #c4a000;
$color-text: #e0e0d0;
$color-hover: #5a4e1e;
$color-border: #3a3a3a;
$color-error: #6c2e2e;
$color-success: #3e553f;

* {
  color: #8b7c3b;
  font-family: "Cinzel";
}

.background {
  background: url("../assets/bg-2.jpeg") center/cover no-repeat;
}

.ant-collapse-expand-icon {
  margin-top: 12px;
}

.row-collected {
  background-color: #083523;
}

/* .ant-collapse-content-box {
  background: #121212
} */

/* global style for scrollbars */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #141414;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #141414;
}

*::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
  border: 2px solid #141414;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
